@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap);

.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;

    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */


}

a {
    color: inherit;
    text-decoration: none;

}

main {
    background-color: #2a2a2e;
    display: inline-block;
    min-width: 100vw;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

footer {
    text-align: center;
    display: flex;
    justify-items: center;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #323234;
    padding: 10px;
    text-align: center;
    color: white;


}

#nav-top {
    background-color: #38383d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

h1 #title-link {
    margin-left: 0px;
    padding-left: 0%;
}


#links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.link {
    background-color: #2a2a2e;
    border-radius: 15px;
    padding: 10px;
    list-style-type: none;
}

#banner {
    background-color: red;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;

}

.navbar {
    height: 70px;
    width: 100%;
    background: black;

}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

}

.dropdown {
    min-width: 200px;
    list-style-type: none;
    opacity: 0;
    position: absolute;

    z-index: 2;
    background: black;


    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
    line-height: 32px;

    transform: translateX(-40%);
    transition: opacity .15s ease-out;
    border-radius: 10px;
    pointer-events: none;
}

.dropdown-item a {
    width: 100%;
    height: 100%;


}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.overview-content {
    background-color: #38383d;

    border-radius: 15px;
    width: 50vw;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    gap: 10px;
    justify-content: center;
    display: table;
}

.overview-item {
    background-color: #323234;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.overview-item:hover {
    background-color: #2a2a2e;
}

#title-link {
    text-decoration-line: none;
}

#contents-container {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    word-wrap: break-word;
    position: absolute;
    left: 0;
    top: 237px;

    max-width: 18vw;
    min-height: 80vh;
    background-color: #38383d;
    padding: 10px;
    border-bottom-right-radius: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 600px) {
    
    #contents-container {
        display: block;


        position: static;
        min-width: 100%;
        max-width: unset;
        

        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    #contents-container h2 {
        display: grid;

        text-align: center;
    }

    #contents-container .overview-item {
        min-width: 70px
    }

    #contents-container .contents-items {
        display: inline flex;
       

        flex-wrap: wrap;

    }

}

.contents-items {
    display: grid;
    max-width: 80%;
}

.education {
    text-align: left;
    padding: 10px;
}

.clean-ul {
    list-style: none;
}

.list-spacer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    list-style-type: none;
}

.list-spacer li {
    position: relative;

}

.list-spacer li:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    white-space: wrap;
    font-size: 0.85em;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    min-width: 100px;
    text-align: center;

}

.list-spacer li::after {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}