:root{
    --html-tag-color: rgb(255, 166, 0);
    --code-bland-color: #fff;
    --html-attribute-color: #ff6969;
    --code-bg-color: #272727;
}

code{
    background-color: var(--code-bg-color);
}

.inline-code{
    border-radius: 5px;
    background-color: var(--code-bg-color);
    padding: 4px;
}
.code-example{
    border-radius: 10px;
    background-color: var(--code-bg-color);
    display: grid;
}
.html-tag{
    
    color: var(--html-tag-color);
    border-radius: 5px;
    padding: 4px;
}

.code-bland{
    color: var(--code-bland-color)
}
.attribute{
    color:var(--html-attribute-color)
}
.tag::after{
    content: '>';
}
.tag::before{
    content: '<';
}
.attribute::before{
    content: '"';
}
.attribute::after{
    content: '"';
}
.tab::before{
    visibility: hidden;
    content: '____';
}
.double-tab::before{
    visibility: hidden;
    content: '________';
}
.triple-tab::before{
    visibility: hidden;
    content: '____________';
}

.css-selector{
    color: greenyellow;
}
.css-key{
    color: pink
}
.css-value{
    color: lightblue
}


.javascript-keyword{
    color: orange;
}
.javascript-operator{
    color: burlywood;
}
.javascript-comment{
    color: greenyellow;
}
.javascript-value{
    color: lightseagreen;
}